.drawCanvas {
    width: 800px;
    height: 500px;
    border: 2px solid #42394d;
    background-color: #1b1229;
    margin-top: 150px;
    border-radius: 15px;
    cursor: pointer;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}