.field {
    width: 500px;
    height: 500px;
    border: 2px solid #42394d;
    border-radius: 10px;
    background-color: #1b1229;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}

.field-container {
    width: 85%;
    height: 100%;
    margin: 150px auto;
    justify-items: center;
}

.cell-available {
    cursor: pointer;
    background-color: #0a0512;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cell-unavailable {
    background-color: #8a3030;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.cell-start {
    cursor: pointer;

    background-color: #598a42;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cell-end {
    cursor: pointer;

    background-color: #7f7334;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cell-route {
    cursor: pointer;
    background-color: #3a2d57;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    animation-name: route-appearing;
    animation-duration: 1s;
}
.cell-current {
    cursor: pointer;
    background-color: #221e29;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    animation-name: current-appearing;
    animation-duration: 0.7s;
}

.cell-open-bank {
    cursor: pointer;
    background-color: #0a0512;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgba(58, 45, 87, 1);
    animation-name: border-appearing;
    animation-duration: 0.7s;
}

.input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
}

@keyframes current-appearing {
    from {
        background-color: #0a0512;
    }
    to {
        background-color: #221e29;
    }
}

@keyframes route-appearing {
    from {
        background-color: #221e29;
    }
    to {
        background-color: #3A2D57FF;
    }
}

@keyframes border-appearing {
    from {
        border: 2px solid rgba(58, 45, 87, 0);
    }
    to {
        border: 2px solid rgba(58, 45, 87, 1);
    }
}

.clear-img {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    margin-bottom: 15px;
    margin-right: 80px;
}

input {
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
    background-color: #1b1229;
    border-radius: 5px;
    border: 2px solid #42394d;
    text-align: center;
    color: white;
}