.field {
    width: 500px;
    height: 500px;
    border: 2px solid #42394d;
    border-radius: 10px;
    background-color: #1b1229;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}

.field-container {
    width: 85%;
    height: 100%;
    margin: 150px auto;
    justify-items: center;
}

.cell-available {
    cursor: pointer;
    background-color: #0a0512;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cell-unavailable {
    background-color: #8a3030;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.cell-start {
    cursor: pointer;

    background-color: #598a42;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cell-end {
    cursor: pointer;

    background-color: #7f7334;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cell-rout {
    cursor: pointer;
    background-color: #3a2d57;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
}

.clear-img {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    margin-bottom: 15px;
}

input {
    margin-bottom: 20px;
    height: 30px;
    width: 100px;
    background-color: #1b1229;
    border-radius: 5px;
    border: 2px solid #42394d;
    text-align: center;
    color: white;
}