@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

    a {
    text-decoration: none;
}

.navbar-expand-lg {
    background-color: rgba(5, 5, 5, 0.4);
}

.navbar-brand {
    font-weight: 700;
    color: white;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(59, 160, 255, 1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-nav li a {
    color: white;
}

.navbar-nav li a::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #3BA0FFFF;
    transition: all .3s;
    transform: scaleX(0);
}

.navbar-nav li a:hover::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #3BA0FFFF;
    transition: all .3s;
    transform: scaleX(1);
}

.navbar-nav li a:hover {
    color: #3BA0FF;
}

.begin-section {
    height: 100vh;
    background: radial-gradient(circle,rgba(15, 24, 36, 1) 0%, rgba(5, 5, 5, 1) 58%);
}

.begin-section h1{
    color: white;
    font-size: 80px;
    font-weight: 800;
}

.algo-section {
    height: 70vh;
    background-color: #050505FF;


}
.algo-section2 {
    height: 70vh;
    background-color: #03070a;


}


.btn-main {
    border: none;
    background-color: #3BA0FF;
    color: white;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.btn-main:hover {
    border: none;
    background-color: #3BA0FF;
    color: #202020;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    box-shadow:0 0 10px #0F1824FF;
}

.btn-secondary {
    border: 1px solid #a1a1a1;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.btn-secondary:hover {
    border: 1px solid #a1a1a1;
    color: white;
    font-size: 18px;
    text-shadow:0 0 10px white;
    box-shadow:0 0 3px white;

}

.custom-header {
    font-weight: 700;
    color: white;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(59, 160, 255, 1) 63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    border: 2px solid #404040;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    opacity: 1;
}

.description {
    color: white;
    font-size: 20px;
}

@keyframes appear {
    0% {
        opacity: 0;
        position: relative;
        top: 20px;
    }
    100% {
        opacity: 1;
        position: relative;

        top: 0;
    }
}

.animated {
    animation-duration: 1s;
    animation-name: appear;
}

.gradient-border-done {
    background: linear-gradient(90deg,rgba(43, 179, 154, 1) 0%, rgba(43, 179, 81, 1) 100%);
    padding: 1px;
    border-radius: 10px;
    animation-duration: 1s;
    animation-name: border-done;
}

@keyframes border-done {
    from {
        background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(59, 160, 255, 1) 63%);

    }
    to {
        background: linear-gradient(90deg,rgba(43, 179, 154, 1) 0%, rgba(43, 179, 81, 1) 100%);

    }
}